
<div class="size-full flex flex-row gap-1 items-center justify-center">
    <div class="p-1 rounded-md bg-gray-100 border-2 border-gray-400" (click)="setLanguage('fr')">
        <img src="/icons/fr.png" class="size-8" alt="">
    </div>
    <div class="p-1 rounded-md bg-gray-100 border-2 border-gray-400" (click)="setLanguage('it')">
        <img src="/icons/it.png" class="size-8" alt="">
    </div>
    <div class="p-1 rounded-md bg-gray-100 border-2 border-gray-400" (click)="setLanguage('en')">
        <img src="/icons/en.png" class="size-8" alt="">
    </div>
    <!--
    <div class="p-1 rounded-md bg-gray-100 border-2 border-gray-400" (click)="setLanguage('ch')">
        <img ngSrc="/icons/ch.png" height="20" width="20" alt="">
    </div>
    -->
</div>
