<div class="w-full min-h-full flex flex-col items-center justify-center relative" #parentContainer>
    <img src="/cavernofwonders.webp" class="absolute inset-0 w-full">

    <div *ngFor="let wish of wishes; let i = index"
         class="wish-container absolute"
         [ngStyle]="{
           'top': wishesPositions[i]?.top + '%',
           'left': wishesPositions[i]?.left + '%'
         }"
         (mouseenter)="hoveredWishIndex = i"
         (mouseleave)="hoveredWishIndex = null">
        <img
            *ngIf="!wish.viewed"
            src="/magiclamp.png"
            alt="Lamp"
            [ngStyle]="{
              'width': wishesPositions[i]?.width + '%',
              'height': wishesPositions[i]?.height + '%',
              'transform':
                  'rotate(' + wishesPositions[i]?.rotation + 'deg) ' +
                  'scaleX(' + (wishesPositions[i]?.flip ? -1 : 1) + ')' +
                  (hoveredWishIndex === i ? ' scale(1.2)' : ''),
              'aspect-ratio': '20 / 13'
            }"
            class="transition-transform duration-300 ease-in-out cursor-pointer"
            (click)="viewWish(wish)"
        >
    </div>
</div>
