<div class="w-full min-h-screen flex flex-col relative">
    <div class="absolute top-0 left-0 z-10 p-1">
        <app-language-selection></app-language-selection>
    </div>
    <div *ngIf="currentUrl !== '/intro'" class="absolute top-9 left-0 z-10 p-1">
        <div class="p-1 rounded-md bg-gray-100 border-2 border-gray-400" (click)="goBack()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
            </svg>
        </div>
    </div>
    <div class="size-full" style="aspect-ratio: 16 / 9; max-width: 100vw; max-height: 100vh;">
        <router-outlet ></router-outlet>
    </div>
    <div *ngIf="currentUrl !== '/complaintoffice'" class="absolute top-[90%] left-1/2 -translate-x-1/2 p-2 bg-amber-200 rounded-md flex gap-1 hover:cursor-pointer"
         (click)="goToComplaintOffice()">
        <div class="flex items-center text-lg">
            Question ? Remarque ?
        </div>
        <div class=" size-8 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                 stroke="currentColor" class="size-6 hover:size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
            </svg>
        </div>
        <div class="min-w-fit min-h-full flex items-center gap-1">
            Le bureau des plaintes
        </div>
    </div>
    <audio src="/audiotracks/arabian-nights.mp3" autoplay loop [volume]="0.01"></audio>
</div>
