<div class="min-h-full w-full flex flex-col gap-2 items-center justify-center relative">
    <div class="w-2/3 text-center">
        Ce site n'est pas dispo sur mobile. Veuillez le visiter via un ordinateur.
    </div>

    <div class="w-2/3 text-center">
        For visual reasons this website is not available on mobile. Please visit it through a computer.
    </div>

    <div class="w-2/3 text-center">
        Questo sito web non è disponibile sul tuo dispositivo. Si prega di utilizzare un computer.
    </div>
</div>
